.wordsDisplay{
    /* hide extra words */
    overflow: hidden; 
    height: 1.9em;
}
.textInput{
    opacity: 0;
    pointer-events: none;
}
.correct{
    color: rgb(41, 199, 41);
}
.wrong{
    color: red;
}

.main-text{
    font-size: 2rem;
    color: #333333;
}
