.track{
    height: 35%;
}

.character {
    background-image: url('../../assets/man3.png');
    width: 9vw; /* Set width as a percentage of viewport width */
    height: calc(9vw * 1.85); /* Adjust height based on aspect ratio */
    background-size: 600%;
    /* background-position: -99% 0; */
    animation: run 5s steps(5) infinite;
}

@keyframes run {
    0% { background-position: -500% 0; }
    16.6667% { background-position: -400% 0; }
    33.3334% { background-position: -300% 0; }
    50% { background-position: -200% 0; }
    66.6667% { background-position: -100% 0; }
    83.3334% { background-position: 0% 0; }
    100% { background-position: 0% 0; }
}


